<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>Todos os autores</h2>

            <a routerLink="/authors/save" class="btn btn-success my-1">Novo</a>

            <div [ngClass]="classesCss" role="alert" *ngIf="message">
                <span [ngSwitch]="message.type">
                    <strong *ngSwitchCase="'danger'">Erro!</strong>
                    <strong *ngSwitchCase="'success'">Sucesso!</strong>
                    <strong *ngSwitchCase="'warning'">Alerta!</strong>
                    <strong *ngSwitchDefault>Informação</strong>
                </span>
                {{ message.value }}
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-sm-1">id</th>
                        <th class="col-sm-9">Nome</th>
                        <th class="col-sm-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="authors.length == 0" class="row">
                        <td colspan="4" class="text-center col-sm-12">
                            <div class="loader" *ngIf="itsLoading"></div>
                            <span *ngIf="!itsLoading">Nenhum registro encontrado.</span>
                        </td>
                    </tr>
                    <tr *ngFor="let author of authors" class="row align-bottom">
                        <td class="col-sm-1">{{ author.id }}</td>
                        <td class="col-sm-9">{{ author.firstName + ' ' + author.lastName }}</td>
                        <td class="col-sm-2">
                            <button class="btn btn-info btn-sm" [routerLink]="['/authors/save', author.id]">Editar</button> 
                            <button class="btn btn-danger btn-sm" (click)="onDelete(author)">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>