<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">My Library</h1>
    <p>
        Essa aplicação serve para demostrar como consumir de uma API REST usando <b>Angular 2</b>.
    </p>
    <p><a href="https://github.com/jordaos/library-front-web" target="_blank">This application on Github &raquo;</a></p>
    <p><a href="https://github.com/jordaos/library-rest" target="_blank">Server REST on Github &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
        <h2>Author</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" routerLink="/author" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pubs</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" routerLink="/pub" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Publishers</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" routerLink="/publisher" role="button">View details &raquo;</a></p>
    </div>
    </div>

    <hr>

    <footer>
    <p>&copy; Jordão Macedo 2017</p>
    </footer>
</div> <!-- /container -->